<div class="block">
  <div class="sidebar-block">
    <p>
    用户: <%= @cur_user.name%>
    </p>
    <p>
    组织：<%= @cur_user.org.name %>
    </p>
    <p>
    类型: vendor
    </p>
  </div>
</div>
