<%
  #partial => briefs/cheil/_nav
#locals => brief,back
%>
<li>
<%=link_to '选择Vendor',sel_vendor_brief_solutions_path(brief,:back=>back)%>
</li>
<li>
<%= link_to '新建评论', 
  new_brief_comment_path(brief,:back=>back)
%>
</li>


