<div class="block">
  <div class="content">
    <h2 class="title">子项</h2>
    <div class="inner">
      <table class="table">
        <tbody>
          <tr>
            <th></th>
            <th>名称</th>
            <th>数量</th>
            <th>说明</th>
            <th>单价</th>
            <th>合计</th>
            <th>税率</th>
            <th>税额</th>
            <th>税后合计</th>
            <th>vendor</th>
            <th></th>
          </tr>
          <%designs=@solution.checked_designs%>
          <%=render 'items_kind',
            :items=>designs,
            :kind_cn=>'设计' unless designs.empty?
          %>
          <%products=@solution.checked_products%>
          <%=render 'items_kind',
            :items=>products,
            :kind_cn=>'制作' unless products.empty?
          %>
          <%trans=@solution.checked_trans%>
          <%=render 'items_kind',
            :items=>trans,
            :kind_cn=>'运输' unless trans.empty?
          %>
          <%others=@solution.checked_others%>
          <%=render 'items_kind',
            :items=>others,
            :kind_cn=>'其他' unless others.empty?
          %>
        </tbody>
      </table>
      <%#=render 'items_total',:solution=>@solution,:total=>@solution.total%>
    </div>
  </div>
</div>

