<%=render 'share/block',:title=>'更新附件',:content=>{:partial=>'form'}%>
      
<div class="block">
  <div class="content">
    <h2 class="title">新评论</h2>
    <div class="inner">
      <%=render 'form'%>
    </div>
  </div>
</div>

