<%
  designs=@solution.designs_from_brief
  products=@solution.products_from_brief
%>
<%unless designs.empty? and products.empty?%>
  <div class="block">
    <div class="content">
      <h2 class="title">子项</h2>
      <div class="inner">
        <table class="table">
          <tbody>
            <tr>
              <th></th>
              <th>名称</th>
              <th>数量</th>
              <th>说明</th>
            </tr>
            <%=render 'items_kind_vendor',:items=>designs,:kind_cn=>'设计'%>
            <%=render 'items_kind_vendor',:items=>products,:kind_cn=>'制作'%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<%end%>
