<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>

  <div class="content">
    <h2 class="title"></h2>
    <div class="inner">
    </div>
  </div>
</div>

