<p>
  管理员:<%= @cur_user.name%>
</p>
<%= link_to '管理员帐号',   admin_users_path   %>
<br />
<%= link_to '组织',   orgs_path   %>
<br />
<br />
<%= button_to 'Logout', admin_users_logout_path, :method => :delete   %> 
<br />

