<%
  #partial => _brief_items 
#locals => brief,brief_items,brief_designs,brief_products
%>

<%unless brief_items.empty?%>
  <%= link_to '新建设计项', new_brief_item_path(brief,:kind=>'design',:back=>back) %>
  <%= link_to '新建制作项', new_brief_item_path(brief,:kind=>'product',:back=>back) %>
  <table>
    <tr>
      <th></th>
      <th>名称</th>
      <th>数量</th>
      <th></th>
    </tr>
    <%=render 'items/brief_items_tr',
      :brief=>brief,
      :back=>back,
      :items=>brief_designs,
      :kind=>'design',
      :kind_cn=>'设计'
    %>
    <%=render 'items/brief_items_tr',
      :brief=>brief,
      :back=>back,
      :items=>brief_products,
      :kind=>'product',
      :kind_cn=>'制作'
    %>
  </table>
<%end%>

