<h1>Listing Cheil</h1>

<table>
  <tr>
    <th>Name</th>
    <th>RPM</th>
    <th>Users</th>
    <th></th>
  </tr>

<% @cheil_orgs.each do |r| %>
  <tr>
    <td><%= r.name %></td>
    <td><%= r.rpm_org.name %></td>
    <td> <% r.users.each  do |e| %>
        <%= link_to e.name,user_path(e) %>
      <%end%> </td>
    <td><%= link_to 'Create user', new_user_path(:org_id=>r.id) %></td>
  </tr>
<% end %>
</table>


