<%
  #partial=>_content
#locals=>brief,assigned_item_ids,back
%>
<table class="table brief_items">
  <tbody>
    <tr>
      <th></th>
      <th>名称</th>
      <th>数量</th>
      <th></th>
    </tr>
    <%=render 'items/change_solution_items/items_tr',
      :brief=>brief,
      :solution=>solution,
      :back=>back,
      :items=>brief.designs,
      :kind=>'design',
      :kind_cn=>'设计',
      :assigned_item_ids=>assigned_item_ids
    %>
    <%=render 'items/change_solution_items/items_tr',
      :brief=>brief,
      :solution=>solution,
      :back=>back,
      :items=>brief.products,
      :kind=>'product',
      :kind_cn=>'制作',
      :assigned_item_ids=>assigned_item_ids
    %>
  </tbody>
</table>

